<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to 'Sign up for free', signup_path, class: "btn btn-danger btn-lg" %></p>
</div>
<h2 align="center">Our last recipes!</h2>
<div class="row">
  <div class="col-sm well">
      <h5><%= Recipe.last.name %></h5>
      <%= truncate(Recipe.last.description, length: 45) %><br />
      <i><%= link_to 'Read More', recipe_path(Recipe.last) %></i>
      <span class="quiet colormatch float-right align-top">
          <small>
          Added <%= time_ago_in_words(Recipe.last.created_at) %> ago
          </small>
        </span>
    </div>
    <div class="col-sm well">
      <h5><%= Recipe.second_to_last.name %></h5>
      <%= truncate(Recipe.second_to_last.description, length: 45) %><br />
      <i><%= link_to 'Read More', recipe_path(Recipe.second_to_last) %></i>
      <span class="quiet colormatch pull-right">
          <small>
          Added <%= time_ago_in_words(Recipe.second_to_last.created_at) %> ago
          </small>
        </span>
    </div>
    <div class="col-sm well">
      <h5><%= Recipe.third_to_last.name %></h5>
      <%= truncate(Recipe.third_to_last.description, length: 45) %><br />
      <i><%= link_to 'Read More', recipe_path(Recipe.third_to_last) %></i>
      <span class="quiet colormatch pull-right">
          <small>
          Added <%= time_ago_in_words(Recipe.third_to_last.created_at) %> ago
          </small>
        </span>
    </div>
</div>
<h4 class="colormatch center"><%= link_to 'See all recipes', recipes_path %></h4>
