<%= render 'shared/errors', obj: @chef %>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@chef, :html => { class: "form-horizontal", role: "form" })do |f| %>
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :chefname, "Name" %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :chefname, class: "form-control", placeholder: "Your name", autoFocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :email %>
      </div>
      <div class="col-md-8">
        <%= f.email_field :email, class: "form-control", placeholder: "Your email", autoFocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :password %>
      </div>
      <div class="col-md-8">
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autoFocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :password_confirmation, "Confirm Password" %>
      </div>
      <div class="col-md-8">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password", autoFocus: true %>
      </div>
    </div>
    <div class="form-group">
    <div class="offset-md-2 col-md-10">
      <%= f.submit(@chef.new_record? ? "Create Account" : "Update profile", class: "btn btn-lg btn-dark") %>
      <% end %>
    </div>
  </div>
  </div>
</div>