<%= render 'shared/page_title', title: "All recipes" %>
<div class="center">
<%= will_paginate %>
</div>

<% @recipes.each do |recipe| %>
  <div class="row align-items-center">
    <div class="col-md-1 offset-md-1">
      <section class="chef_info center">
        <%= gravatar_for(recipe.chef, size: 180) %>
        <p>
        <span class="quiet colormatch">
          <small>
          Created by:
          <%= link_to recipe.chef.chefname, chef_path(recipe.chef)  %><br />
          <%= time_ago_in_words(recipe.created_at) %> ago
          </small>
        </span>
        </p>
      </section>
    </div>
      <div class="col-md-8 well">
        <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
        <p><h6><%= truncate(recipe.description, length: 150) %></h6></p>
    </div>
  </div>
<% end %>
<%= will_paginate %>