<%= render 'shared/page_title', title: @recipe.name %>
<div class= "well col-md-8 offset-md-2">
  <h4 class="description"><strong>Steps:</strong></h4>

  <%= simple_format(@recipe.description) %>
  <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: "btn btn-xs btn-warning" %>
  <%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete, data: { confirm: "Delete recipe #{@recipe.name}?"}, class: "btn btn-xs btn-danger" %>

<p>
    <div class="pull-right">
      <small>
      <em>Created by:
        <%= link_to @recipe.chef.chefname, recipes_path %>
        <%= time_ago_in_words(@recipe.created_at) %> ago
        </em>
      </small>
    </div>
</p>
</div>

<div class="colormatch">
  <% if @recipe.id != Recipe.last.id %>
    <%= link_to '<<Back to recipes', recipes_path, class: "pull-left" %>
    <%= link_to 'Next recipe>>', recipe_path(@recipe.id.next), class:"pull-right" %>
    <% else %>
    <%= link_to '<<Back to recipes', recipes_path, class: "pull-left" %>
  <% end %>

</div>

